body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset */

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

/* computer */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  display: block;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: block;
  padding: 16px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btm {
  padding: 0px;
  background-color: transparent;
  border: none;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* tablet */
@media screen and (min-width: 768px) {
  .burger-btm {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    background-color: #404bbf;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu .contacts {
  display: block;
}

.close-button-mobile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button-mobile:focus,
.close-button-mobile:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.close-icon-mobile {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile {
  padding: 20px 0;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  background-color: #404bbf;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile:hover,
.nav-link-mobile:focus,
.nav-link-mobile.current-mobile,
.nav-link-mobile:hover,
.nav-link-mobile:focus,
.nav-link-mobile.current-mobile {
  color: #404bbf;
}

.nav-link-mobile:hover::after,
.nav-link-mobile:focus::after,
.nav-link-mobile.current::after {
  opacity: 1;
}

.contacts-mobile {
  font-style: normal;
  display: block;
}

.contacts-list-mobile {
  display: flex;
  padding-top: 168px;
  padding-bottom: 48px;
  flex-direction: column;
  gap: 24px;
}

.contacts-link-mobile {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-mobile:hover,
.contacts-link-mobile:focus {
  color: #404bbf;
}

/* icons-mobile */

.icon-social-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.icon-link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
}

.icon-link-mobile:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-mobile:hover,
.icon-link-mobile:focus {
  background-color: #404bbf;
}

.icon-three-mobile {
  width: 24px;
  height: 24px;
}

/* tablet/desktop */
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* main */

/* section 1 */
.page-section {
  padding: 96px 0;
  background-color: #2e2f42;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-set(
      url("../images/people-office-mobile.jpg") 1x,
      url("../images/people-office-mobile@2x.jpg") 2x
    );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 432px;
}

.one-name {
  margin: 0 auto 72px auto;
  display: block;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  cursor: pointer;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-klick:hover,
.button-klick:focus {
  background-color: #404bbf;
}

.section-span {
  color: #fff;
  text-align: center;
}
/* tablet */
@media (min-width: 768px) {
  .page-section {
    height: 436px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url("../images/people-office-tablet.jpg") 1x,
        url("../images/people-office-tablet@2x.jpg") 2x
      );
  }

  .one-name {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

/* desktop */
@media (min-width: 1158px) {
  .page-section {
    padding: 120px 0;
    height: 600px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url("../images/people-office-desktop.jpg") 1x,
        url("../images/people-office-desktop@2x.jpg") 2x
      );

    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
  }

  .one-name {
    margin-bottom: 48px;
  }

  .button-klick:hover,
  .button-klick:focus {
    background-color: #404bbf;
  }
}

/* section 2 */
.section-list {
  padding: 96px 0;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
}

.one-list {
  display: flex;
  flex-direction: column;
  gap: 72px 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.one-list li {
  display: flex;
  flex-direction: column;
}

.icon-img {
  display: none;
}

.name-list {
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: #2e2f42;
}

.text-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* tablet */
@media (min-width: 768px) {
  .page-section {
    background-image: image-set(
      url("../images/people-office-tablet.jpg") 1x,
      url("../images/people-office-tablet@2x.jpg") 2x
    );
  }

  .one-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .one-list li {
    flex: 0 0 calc(50% - 12px);
    text-align: left;
  }

  .name-list {
    text-align: left;
  }
}

/*  desktop  */
@media (min-width: 1158px) {
  .page-section {
    background-image: image-set(
      url("../images/people-office-desktop.jpg") 1x,
      url("../images/people-office-desktop@2x.jpg") 2x
    );
  }
  .section-list {
    padding: 120px 0;
    font-size: 20px;
  }

  .one-list li {
    flex: 0 0 calc(25% - 18px);
  }

  .icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    margin-bottom: 12px;
  }

  .name-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text-list {
    font-weight: 400;
  }
}

/* section 3 */
.section-team {
  margin: 0;
  padding: 96px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #f4f4fd;
}

.two-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 64px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  list-style: none;
}

.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 264px;
}

.team-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.div-name {
  padding: 32px 0;
}

.name-people {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.text-trade {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.icon-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  margin-top: 16px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-three {
  width: 16px;
  height: 16px;
}

/* tablet */
@media (min-width: 768px) {
  .team-item {
    flex: 0 0 calc(50% - 12px);
  }
}

/* desktop */
@media (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
    font-size: 20px;
  }

  .two-name {
    font-size: 36px;
    margin-top: 120px;
    margin-bottom: 72px;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    flex: 0 0 calc(25% - 18px);
  }
}

/* section 4 */
.portfolio {
  padding: 96px 0;
  background-color: #fff;
  text-align: left;
  letter-spacing: 0.02em;
}
.our-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.our-portfolio li {
  width: 288px;
  margin: 0 auto;
}

.list-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.foto-text-four {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.foto-text-four img {
  width: 288px;
  height: 280px;
  object-fit: cover;
}
.text-four {
  display: none;
}
.container-name {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-sizing: border-box;
}
.portfolio-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  width: 100%;
  height: 100%;
}

/* tablet */
@media (min-width: 768px) {
  @media screen and (min-width: 768px) {
    .container-fourth {
      width: 768px;
    }
  }
  .our-portfolio {
    justify-content: center;
    gap: 72px 24px;
    padding: 0;
    margin: 0;
  }
  .our-portfolio li {
    flex: 0 0 calc((100% - 24px) / 2);
    box-sizing: border-box;
  }
  .foto-text-four img {
    width: 356px;
    height: 300px;
  }
  .list-portfolio {
    margin-bottom: 72px;
  }
}

/* desktop */
@media (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .two-name {
    font-size: 36px;
    margin-bottom: 72px;
  }

  .our-portfolio li {
    flex: 0 0 calc((100% - 2 * 24px) / 3);
  }

  .text-four {
    display: block;
  }

  .foto-text-four img {
    width: 360px;
  }

  .list-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .list-portfolio:hover .text-four {
    transform: translateY(0%);
  }

  .text-four {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    background-color: #4d5ae5;
  }
}

/* footer */
.page-footer {
  padding: 96px 16px;
  background-color: #2e2f42;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.div-footer {
  width: 50%;
  margin-bottom: 72px;
}

.footer-logo {
  margin-top: 0;
  margin-left: 0;
  display: block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
}

.footer-text {
  max-width: 288px;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.ul-footer {
  justify-content: center;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-footer svg {
  width: 24px;
  height: 24px;
}

.subscribe {
  margin-top: 72px;
  justify-content: center;
}

.text-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-footer {
  margin-bottom: 16px;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
}

.input-footer::placeholder {
  color: #ffffff;
}

.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 0 24px;
  border-radius: 4px;
  border: none;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
}

.icon-telegram-airplane {
  margin-left: 16px;
  fill: #fff;
}

/* tablet */
@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
  }

  .text-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ul-footer {
    justify-content: flex-start;
  }

  .form-footer {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }
  .div-footer {
    width: auto;
    margin-bottom: 0;
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .container-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px;
  }

  .div-footer {
    width: 264px;
    margin-right: 0;
  }

  .text-media {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .ul-footer {
    justify-content: flex-start;
  }

  .icon-footer:hover,
  .icon-footer:focus,
  .button-subscribe:hover,
  .button-subscribe:focus,
  .input-footer:hover,
  .input-footer:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe {
    margin: 0;
    width: 345px;
  }

  .input-footer::placeholder {
    color: #ffffff;
  }
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 408px;
  max-height: 90vh;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  overflow-y: auto;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:focus,
.close-button:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-container {
  margin-bottom: 9px;
}

.label-modal {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
}

.input-modal {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .input-icon {
  fill: #4d5ae5;
}

.form-container-comment {
  margin-bottom: 16px;
}

.textarea {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  resize: none;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
}

.textarea:focus {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.text-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.input-checkbox:checked + .text-checkbox .span-checkbox {
  border: none;
  fill: #f4f4fd;
  background-color: #404bbf;
}

.link-checkbox {
  color: #4d5ae5;
}

.button-send {
  display: block;
  text-align: center;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  color: #ffffff;
}

.button-send:hover,
.button-send:focus {
  background-color: #404bbf;
}

/* tablet */
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 70%;
    max-width: 408px;
  }
}

/* desktop */
@media (min-width: 1158px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
