.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset */

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

/* computer */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  display: block;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: block;
  padding: 16px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btm {
  padding: 0px;
  background-color: transparent;
  border: none;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* tablet */
@media screen and (min-width: 768px) {
  .burger-btm {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    background-color: #404bbf;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
}

/* computer */
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu .contacts {
  display: block;
}

.close-button-mobile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button-mobile:focus,
.close-button-mobile:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.close-icon-mobile {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile {
  display: block;
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  background-color: #404bbf;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile:hover,
.nav-link-mobile:focus,
.nav-link-mobile.current-mobile,
.nav-link-mobile:hover,
.nav-link-mobile:focus,
.nav-link-mobile.current-mobile {
  color: #404bbf;
}

.nav-link-mobile:hover::after,
.nav-link-mobile:focus::after,
.nav-link-mobile.current::after {
  opacity: 1;
}

.contacts-mobile {
  font-style: normal;
  display: block;
}

.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts-link-mobile {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-mobile:hover,
.contacts-link-mobile:focus {
  color: #404bbf;
}

/* icons-mobile */

.icon-social-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin-bottom: 32px;
}

.icon-link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
}

.icon-link-mobile:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-mobile:hover,
.icon-link-mobile:focus {
  background-color: #404bbf;
}

.icon-three-mobile {
  width: 24px;
  height: 24px;
}

.ul-mobile {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-mobile svg {
  width: 24px;
  height: 24px;
}

/* tablet/computer */
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* main */
/* sectiom 1 */

/* footer */
.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.div-footer {
  width: 50%;
  margin-bottom: 0;
}

.footer-logo {
  margin-top: 0;
  margin-left: 0;
  display: block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
}

.footer-text {
  margin-bottom: 72px;
  max-width: 288px;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.ul-footer {
  justify-content: center;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-footer svg {
  width: 24px;
  height: 24px;
}

.subscribe {
  margin-top: 72px;
  justify-content: center;
  width: 100%;
}

.text-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-footer {
  margin-bottom: 16px;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
}

.input-footer::placeholder {
  color: #ffffff;
}

.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 0 24px;
  border-radius: 4px;
  border: none;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
}

.icon-telegram-airplane {
  margin-left: 16px;
  fill: #fff;
}

/* tablet */

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .div-footer {
    width: 50%;
  }

  .text-media {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ul-footer {
    justify-content: flex-start;
  }

  .form-footer {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }

  .input-footer {
    width: 264px;
    margin-bottom: 0;
  }
}

/* computer */
@media screen and (min-width: 1158px) {
  .container-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px;
  }

  .div-footer {
    width: 264px;
    margin-right: 0;
  }

  .text-media {
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .ul-footer {
    justify-content: flex-start;
  }

  .icon-footer:hover,
  .icon-footer:focus,
  .button-subscribe:hover,
  .button-subscribe:focus,
  .input-footer:hover,
  .input-footer:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe {
    margin: 0;
    width: 345px;
  }

  .input-footer::placeholder {
    color: #ffffff;
  }
}
