/* main */
/* sectiom 1 */

.page-section {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one-name {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  align-items: center;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  background-color: #4d5ae5;
  cursor: pointer;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-klick:hover,
.button-klick:focus {
  background-color: #404bbf;
}

.section-span {
  color: #fff;
  text-align: center;
}

/* section 2 */

.section-list {
  padding: 120px 0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
}
.one-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.one-list li {
  flex: 0 0 calc((100% - 3 * 24px) / 4);
}

.icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.name-list {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.section-team {
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section 3 */

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.two-name {
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.team-item {
  flex: 0 0 calc((100% - 3 * 24px) / 4);
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: center;
}

.div-name {
  padding-top: 32px;
  padding-bottom: 32px;
}

.name-people {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.text-trade {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.icon-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin-bottom: 32px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
}

.icon-link:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-three {
  width: 16px;
  height: 16px;
}

/* section 4 */

.portfolio {
  background-color: #fff;
  padding: 120px 0;
  text-align: left;
  letter-spacing: 0.02em;
}

.our-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  padding: 0;
  list-style: none;
}

.our-portfolio li {
  flex: 1 1 calc((100% - 48px) / 3);
  box-sizing: border-box;
  min-width: 280px;
}

.our-portfolio li div {
  box-sizing: border-box;
}

.list-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.list-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-portfolio:hover .text-four {
  transform: translateY(0%);
}

.foto-text-four {
  position: relative;
  overflow: hidden;
}

.text-four {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  background-color: #4d5ae5;
}

.container-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-sizing: border-box;
}

.portfolio-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  width: 100%;
  height: 100%;
}

/* footer */

.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo .logo-part {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.ul-footer {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-footer svg {
  width: 24px;
  height: 24px;
}

.icon-footer:hover,
.icon-footer:focus,
.button-subscribe:hover,
.button-subscribe:focus,
.input-footer:hover,
.input-footer:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  margin-left: 80px;
}

.text-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-footer {
  display: flex;
  gap: 24px;
}

.input-footer {
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
}

.input-footer::placeholder {
  color: #ffffff;
}

.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 24px;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
}

.icon-telegram-airplane {
  margin-left: 16px;
  fill: #fff;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:focus,
.close-button:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-container {
  margin-bottom: 8px;
}

.label-modal {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
}

.input-modal {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .input-icon {
  fill: #4d5ae5;
}

.form-container-comment {
  margin-bottom: 16px;
}

.textarea {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
}

.textarea:focus {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.text-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.input-checkbox:checked + .text-checkbox .span-checkbox {
  border: none;
  fill: #f4f4fd;
  background-color: #404bbf;
}

.link-checkbox {
  color: #4d5ae5;
}

.button-send {
  display: block;
  text-align: center;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  color: #ffffff;
}
